<h1>Welcome to Ross Enriques Portfolio</h1>
<p>Check out all my previous work</p>



<pre>
<h4>Ross Taylor Y Enriques</h4>			
Las Vegas, NV 89148 | 702-373-7979 | rtyenriques@gmail.com
Github | Blog | LinkedIn 

FULL STACK ENGINEER
Full Stack Web Developer experienced in PHP, Ruby on Rails, React, Redux, and JavaScript based programming with a passion to build user-friendly applications. My fascination with technology began when I wrote my first line of code at 10 years old and that interest has propelled my decision to become a software developer. My perseverance and problem-solving skills allow me to see projects through to completion.

TECHNICAL SKILLS
Ruby | Rails | JavaScript (ES6) | React/Redux | APIs | VScode | Git | HTML5 | CSS3 | REST | PostgreSQL| SQLite | 
Heroku | ActiveRecord | OOP | ORM | SQL | PHP | jQuery | Wordpress | PHPmyAdmin | XAMPP | Sinatra
 
TECHNICAL PROJECTS
Tweeter - Github 
An app that allows users to sign up and write and view  posts as well as follow other users
Incorporated PHP/jQuery/Bootstrap/MySQL to create a web base app 
Utilized MVC framework as well as using separation of concerns
Worked with XAMPP to connect to database and using PHPmyAdmin to confirm CRUD
Combined jQuery’s ajax to connect to php files for query’s

Beach Forecaster - Github 
For beach goers or tourists in Hawaii to view temperature and wave heights 
Combining PHP/jQuery/Bootstrap to create a mini search engine
Leveraged file_get_contents to connect with hawaiibeachsafety.com api
Working with &ltdatalist&gt to create predictive text for beach searches

Secret Diary - Github 
Users can signup and write in diary that saves as you type
Incorporated PHP/jQuery/Bootstrap/MySQL to create a diary app
Creating a signup form that utilizes Session and Cookies
Using mysqli query to update database as well as content dynamically 

Tournament Formatter - Github | Demo
Create event tournaments with a sign-up page for easy viewing
Combined Vanilla JavaScript with Ruby on Rails backend API to create a fully functional app
Connected OmniAuth with Rails API allowing for successful sign-up with Google
Applied Event Delegation so entries can be sorted properly
Modeled schema data structures for PostgreSQL as database for ActiveRecord 

The Break App - Github | Demo
An app that allows breakdancing fans to stay up-to-date with latest breakdancing news
Integrated React/Redux  to create a dynamic user interface for easy viewing
Developed Rails API backend to handle data persistence and respond to fetch requests
Utilized Redux and thunk middleware for async connection to application and modify state changes
Adjusted Bootstrap architecture for frontend so it can be separated by components

The Break Down - Github | Demo
Making dance tutorials for dancers of any level
Leveraged Ruby on Rails to build web application handling both frontend and backend code
Provided ERB files in views following design patterns to present frontend UI 
Handled user sign-up connecting bcrypt gem to salt passwords for SQLite3 database
Incorporated nested routes using namespacing and following Restful architecture

WORK EXPERIENCE
Ikea, Las Vegas, NV	July 2019 - Present
Product Quality/Recovery Specialist	       
Assemble furniture for store displays and as-is sections of the store
Restore and repair damaged products that have been returned Adhere to safety protocols related to all products mounted in the store 

Unico Assembly, Las Vegas, NV                				                                 November 2017 - July 2019                      
Assembly Technician/Carpenter
Maintained inventory of all products and ensured shelves were constantly being restocked
Assist customers with guidance and fit of various sports equipment 

XPress Distribution, Sales Associate, Honolulu, HI					     January 2015 - October 2017
Buffalo Wild Wings, Shift Lead, Pearl City, HI						   October 2013 - February 2015
Blazin Steaks, Supervisor, Ewa Beach HI 					          December 2009 - December 2013

EDUCATION
The Complete Web Developer Course	July 2022 - September 2022
Udemy course, PHP, mySQL, jQuery, Wordpress

Codecademy PHP Course	July 2022 - August 2022

Flatiron School	  March 2022
Full Stack Web Development, Ruby on Rails and JavaScript online program 	

Kapiolani Community College, Honolulu, HI	  August 2010 - May 2011

</p>

